a {
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
}

a:hover {
    color: black;
    background: white;
}
a, a:hover {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}